<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Usuarios', users_path %></li>
  <li class="active">Editar Usuario</li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading" style="font-size: large;">Edita Usuario</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Volver', users_path %></li>
</ol>

