<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li class="active">Usuarios</li>
</ol>

<nav class="navbar navbar-default" role="navigation" style="padding: 10px 5px;">
  <% if current_user.has_role?(:users, :new) %>
      <%= link_to( new_user_path, {:class => 'btn btn-default  btn-md'}) do %>
          <span class="glyphicon glyphicon-plus"></span> Nuevo Usuario
      <% end %>
  <% end %>
</nav>

<div class="panel panel-primary">
  <div class="panel-heading" style="font-size: large;">Usuarios</div>
  <div class="panel-body">

    <table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Rol</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role.name %></td>
        <td>
          <%= link_to( user_path(user),
                    {:class => 'btn btn-small'}) do %>
              <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </td>
        <td>
          <%= link_to( edit_user_path(user),
                    {:class => 'btn btn-small'}) do %>
              <span class="glyphicon glyphicon-edit"></span>
          <% end %>
        </td>
        <td><%= link_to user, {method: :delete, data: { confirm: 'Esta seguro de que desea eliminar el usuario?'}, class: 'btn btn-small'} do %>
              <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
    </div>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
</ol>
