<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Usuarios', users_path %></li>
  <li class="active"><%= @user.name %></li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading" style="font-size: large;">Usuario <%= @user.name %></div>
  <div class="panel-body">
    <p>
      <strong>Nombre:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>rol:</strong>
      <%= @user.role.name %>
    </p>
</div>
  </div>
<%= link_to 'Editar User', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>