<%= form_for @proveedor,
             :html => {:class => 'i_form1 navbar-form navbar-left'} do |f| %>

    <div class="row">
      <div class="col-xs-6">

        <div class="form-group">
          <%= f.label :name, class:'control-label col-xs-7' %><br>
          <div class="col-xs-12">
          <%= f.text_field :name, class:'form-control', maxlength: '20' %>
          </div>
        </div>


        <div class="form-group">
          <%= f.label :rif, class:'control-label col-xs-7' %><br>
          <div class="col-xs-12">
          <%= f.text_field :rif, class:'form-control', maxlength: '20' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :nacional, class:'control-label col-xs-7' %><br>
          <div class="col-xs-12">
          <%= f.check_box :nacional, class:'form-control' %>
          </div>
        </div>

      </div>
    </div>

    <div style="text-align: right">
      <div style="margin: 0 auto">
        <%= f.submit 'Registrar', class:'btn btn-primary'   %>
      </div>
    </div>

    <% if @proveedor.errors.any? %>
        <div id="error_explanation">
          <% if @proveedor.errors.count > 1 %>
              <h2>Ocurrieron <%= pluralize(@proveedor.errors.count, "errores") %> mientras se guardaba el proveedor: </h2>

              <ul>
                <% @proveedor.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
          <% else %>
              <h2>Ocurrió <%= pluralize(@proveedor.errors.count, "error") %> mientras se guardaba el proveedor: </h2>

              <ul>
                <% @proveedor.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
          <% end %>
        </div>
    <% end %>

<% end %>