
  <%= form_for @proveedor, html: {class: 'form-horizontal'} do |f| %>

  <div style="">
    <div class="col-xs-6">

      <div class="form-group">
        <%= f.label :nombre, for: 'proveedor_name', class:'control-label col-xs-7' %>
        <div class="col-xs-6">
          <%= f.text_field :name, class:'input-sm form-control', maxlength: 64 %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Código', for: 'proveedor_codigo', class:'control-label col-xs-7' %>
        <div class="col-xs-6">
          <%= f.text_field :codigo, class:'input-sm form-control', maxlength: 32 %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'RIF', for: 'proveedor_rif', class:'control-label col-xs-7', style: 'text-transform: uppercase' %>
        <div class="col-xs-6">
        <%= f.text_field :rif, class:'input-sm form-control', maxlength: 32 %>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox col-xs-6">
          <label>
            <%= f.check_box :nacional %> Nacional
          </label>
        </div>
      </div>

      <div class="form-group" style="">
        <div class="col-xs-6" style="text-align: right">
         <%= f.submit 'Registrar', class:'btn btn-primary'   %>
        </div>
      </div>

    </div>
</div>

  <div style="clear: both">
    <% if @proveedor.errors.any? %>
        <div id="error_explanation">
          <% if @proveedor.errors.count > 1 %>
              <h2>Ocurrieron <%= pluralize(@proveedor.errors.count, 'errores') %> mientras se guardaba el proveedor: </h2>

              <ul>
                <% @proveedor.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
          <% else %>
              <h2>Ocurrió <%= pluralize(@proveedor.errors.count, 'error') %> mientras se guardaba el proveedor: </h2>

              <ul>
                <% @proveedor.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
          <% end %>
        </div>
    <% end %>
  </div>

<% end %>