<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li class="active">Proveedores</li>
</ol>

<table class="table">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>RIF</th>
    <th>Nacional</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @proveedors.each do |proveedor| %>
      <tr>
        <td><%= proveedor.name %></td>
        <td><%= proveedor.rif %></td>
        <td>
          <% if proveedor.nacional %>
              Si
          <% else %>
              No
          <% end %>
        </td>
        <% if current_user.has_role?(:proveedors, :show) %>
            <td><%= link_to(proveedor, {:class => 'btn btn-small'}) do %>
                  <span class="glyphicon glyphicon-search"></span>
              <% end %>
            </td>
        <% end %>
        <% if current_user.has_role?(:proveedors, :edit) %>
            <td><%= link_to( edit_proveedor_path(proveedor),
                             {:class => 'btn btn-small'}) do %>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
            </td>
        <% end %>
        <% if current_user.has_role?(:proveedors, :delete) %>
            <td><%= link_to proveedor, {method: :delete, data: { confirm: 'Esta seguro de que desea eliminar el proveedor?'}, class: 'btn btn-small'} do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if current_user.has_role?(:proveedors, :new) %>
    <%= link_to 'Nuevo Proveedor', new_proveedor_path %>
<% end %>
