<% modelo = 'Proveedor'%>
<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Proveedores', proveedors_path %></li>
  <li class="active">Registrar</li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading" style="font-size: large;"><%= modelo %></div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Volver', proveedors_path %></li>
</ol>

