<h1>Proveedor: <%= @proveedor.name %></h1>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Proveedores', proveedors_path %></li>
  <li class="active">Ver</li>
</ol>

<p>
  <strong>RIF:</strong>
  <%= @proveedor.rif %>
</p>

<p>
  <strong>Nacional:</strong>
  <% if @proveedor.nacional %>
    Si
  <% else %>
    No
  <% end %>
</p>

<% if current_user.has_role?(:proveedors, :edit) %>
    <%= link_to 'Editar Proveedor', edit_proveedor_path(@proveedor) %> |
<% end %>

<%= link_to 'Volver', proveedors_path %>

