<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Proveedores', proveedors_path %></li>
  <li class="active">Ver</li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading" style="font-size: large;">Proveedor: <%= @proveedor.name %></div>
  <div class="panel-body">

  <p><strong>RIF:</strong>
     <%= @proveedor.rif %>
  </p>

  <p><strong>Nacional:</strong>
  <% if @proveedor.nacional %>
    Si
  <% else %>
    No
  <% end %>
  </p>
</div>
  </div>




<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Volver', proveedors_path %></li>
  <% if current_user.has_role?(:proveedors, :edit) %>
    <li><%= link_to 'Editar', edit_proveedor_path(@proveedor) %></li>
  <% end %>
</ol>