<p>
  <strong>Nombre:</strong>
  <%= @proveedor.name %>
</p>

<p>
  <strong>RIF:</strong>
  <%= @proveedor.rif %>
</p>

<p>
  <strong>nacional:</strong>
  <%= @proveedor.nacional %>
</p>

<% if current_user.has_role?(:proveedors, :edit) %>
    <%= link_to 'Editar Proveedor', edit_proveedor_path(@proveedor) %> |
<% end %>

<%= link_to 'Volver', proveedors_path %>

