<%= form_for @certificado,
	:html => {:class => 'i_form1 navbar-form navbar-left form-horizontal', :multipart => true} do |f| %>

  <div class="row">
    <div class="col-xs-6 col-md-6">

      <div class="form-group">
          <%= f.label :numero_certificado, class:'control-label col-xs-7' %>
          <div class="col-xs-12">
          <%= f.text_field :numero_certificado, class:'form-control', maxlength: '20' %>
          </div>
      </div>

      <div class="form-group">
        <%= f.label :numero_guia_proveedor, class:'control-label col-xs-7' %>
        <div class="col-xs-12">
        <%= f.text_field :numero_guia_proveedor, class:'form-control', maxlength: '20' %>
        </div>
      </div>

	  <div class="form-group">
	    <%= f.label :numero_colada, class:'control-label col-xs-7' %>
        <div class="col-xs-12">
        <%= f.text_field :numero_colada, class:'form-control', maxlength: '20' %>
        </div>
	  </div>

      <div class="form-group">
        <script>
            $(function() {
                $( "#datepicker" ).datepicker({
                    format: "dd/mm/yyyy"
                });
                $("#datepicker").datepicker("setDate", "<%= Date.today.strftime("%d/%m/%Y")  %>");
            });
        </script>

        <%= f.label :fecha_recepcion, class:'control-label col-xs-7' %>
        <div id="fechapicker" class="col-xs-12">
          <%= f.text_field :fecha_recepcion, id: 'datepicker', class:'form-control' %>
        </div>

      </div>

    </div>
    <div class="col-xs-6 col-md-6">
      <div class="form-group">
	    <%= f.label :numero_orden_compra, class:'control-label col-xs-7' %>
        <div class="col-xs-12">
	    <%= f.text_field :numero_orden_compra, class:'form-control', maxlength: '20' %>
        </div>
	  </div>

      <div class="form-group">
        <%= f.label :proveedores, class:'control-label col-xs-7' %>
        <div class="col-xs-12">
          <%= f.collection_select( :proveedor_id,
                                   Proveedor.all,
                                   :id,
                                   :name,
                                   {prompt: true},
                                   {class:'form-control-static'}
              ) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :sucursales, class:'control-label col-xs-7' %>
        <div class="col-xs-12">
          <%= f.collection_select( :sucursal_id,
                                   Sucursal.all,
                                   :id,
                                   :nombre,
                                   {prompt: true, selected: current_user.sucursal.id},
                                   {class:'form-control-static'}
              ) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :numero_codigo_producto, class:'control-label col-xs-7' %><br>
        <div class="col-xs-12">
          <%= f.text_field :numero_codigo_producto, class:'form-control', maxlength: '20' %>
        </div>
      </div>



      <div class="form-group">
        <%= f.label 'Archivo PDF', class:'control-label col-xs-7' %>
        <b><%= Certificado.find(@certificado.id).adjunto_file_name %></b>
        <br>
        <div class="col-xs-12">
        <%= f.file_field :adjunto %>
        </div>
      </div>

    </div>
  </div>

  <%= f.submit 'Registrar', class:'btn btn-primary'   %>

    <% if @certificado.errors.any? %>
        <div id="error_explanation">
          <% if @certificado.errors.count > 1 %>
            <h2>Ocurrieron <%= pluralize(@certificado.errors.count, "errores") %> mientras se guardaba el certificado: </h2>

            <ul>
              <% @certificado.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
           <% else %>
              <h2>Ocurrió <%= pluralize(@certificado.errors.count, "error") %> mientras se guardaba el certificado: </h2>

              <ul>
                <% @certificado.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
           <% end %>
        </div>
    <% end %>

<% end %>





