<%= form_for @certificado, 
	:html => {:class => 'i_form1 navbar-form navbar-left', :multipart => true} do |f| %>
  
  <% if @certificado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@certificado.errors.count, "error") %> prohibited this certificado from being saved:</h2>

      <ul>
      <% @certificado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-6 col-md-6">

      <div class="form-group">
          <%= f.label :numero_certificado %><br>
          <%= f.text_field :numero_certificado, class:'form-control' %>
      </div>

        <div class="form-group">
          <%= f.label :proveedors %><br>
          <%= f.collection_select( :proveedor_id, 
                             Proveedor.all, 
                             :id,
                             :name,
                             {:prompt=>true}, 
			     {:class=>'form-control-static'}
	      ) %>
        </div>

	<div class="form-group">
	    <%= f.label :numero_colada %><br>
	    <%= f.text_field :numero_colada, class:'form-control' %>
	</div>

      </div>
      <div class="col-xs-6 col-md-6">
        <div class="form-group">
	    <%= f.label :numero_orden_compra %><br>
	    <%= f.text_field :numero_orden_compra, class:'form-control' %>
	</div>
        <div class="form-group">
          <%= f.label :numero_guia_proveedor %><br>
          <%= f.text_field :numero_guia_proveedor, class:'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :numero_codigo_producto %><br>
          <%= f.text_field :numero_codigo_producto, class:'form-control' %>
        </div>

         <%= f.file_field :adjunto %>

	<button type="submit" class="btn btn-default"><%= f.submit %></button>

      </div>
    </div>

<% end %>





