<%= form_for @certificado,
	:html => {:class => 'i_form1 navbar-form navbar-left form-horizontal', :multipart => true} do |f| %>

  <div class="row">
    <div class="col-xs-6">

      <div class="form-group">
        <%= f.label :numero_certificado, 'Número de certificado', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
          <%= f.text_field :numero_certificado, class:'form-control', maxlength: '20' %>
        </div>
        <script type="text/javascript">
          validarNumero('certificado_numero_certificado', 1, 30);
        </script>
      </div>

      <div class="form-group">
        <%= f.label :numero_guia_proveedor, 'Número de guía de proveedor', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
        <%= f.text_field :numero_guia_proveedor, class:'form-control', maxlength: '20' %>
        </div>
        <script type="text/javascript">
            validarNumero('certificado_numero_guia_proveedor', 1, 30);
        </script>
      </div>

      <div class="form-group">
        <script>
            $(function() {
                $("#fechapicker").datepicker({
                    dateFormat: "dd/mm/yy",
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                    beforeShowDay: $.datepicker.noWeekends
                });
            });
        </script>

        <%= f.label :fecha_recepcion, 'Fecha de recepción', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
          <%= f.text_field :fecha_recepcion, id: 'fechapicker', class:'form-control' %>
        </div>

      </div>

      <div class="form-group">
        <%= f.label :numero_orden_compra, 'Número de orden de compra',  class:'control-label col-xs-7' %>
        <div class="col-xs-12">
          <%= f.text_field :numero_orden_compra, class:'form-control', maxlength: '20' %>
        </div>
        <script type="text/javascript">
            validarNumero('certificado_numero_orden_compra', 1, 30);
        </script>
      </div>

      <div class="form-group">
        <%= f.label :proveedors, 'Proveedores', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
          <%= f.collection_select( :proveedor_id,
                Proveedor.all,              :id,
                :name,                      {prompt: true},
                {class:'form-control-static'}
          ) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :sucursals, 'Sucursales', class:'control-label col-xs-9' %>
        <div class="col-xs-12">
          <% if @certificado.new_record?  %>
             <% default_value = current_user.sucursal.id %>
          <% else %>
             <% default_value = @certificado.sucursal.id %>
          <% end %>
          <%= f.collection_select( :sucursal_id,
                 Sucursal.all,              :id,
                 :nombre,                   {prompt: true, selected: default_value},
                 {class:'form-control-static'}
          ) %>
        </div>
      </div>
      <br/>

      <div class="form-group">
        <%= f.label :sucursals, 'Sucursales', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
          <%= f.collection_select( :sucursal_id,
                                   Sucursal.all,              :id,
                                   :nombre,                   {prompt: true},
                                   {class:'form-control-static'}
              ) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :numero_codigo_producto, 'Código de producto', class:'control-label col-xs-9' %><br>
        <div class="col-xs-12">
          <%= f.text_field :numero_codigo_producto, class:'form-control', maxlength: '20' %>
        </div>
        <script type="text/javascript">
            validarNumero('certificado_numero_codigo_producto', 1, 30);
        </script>
      </div>

    </div>
    <div class="col-xs-6">

      <div class="form-group">
        <%= f.label 'adjunto', 'Archivo formato PDF o JPEG', class:'control-label col-xs-12' %>
        <b><%= Certificado.find(@certificado.id).adjunto_file_name unless @certificado.new_record? %></b>
        <br>
        <div class="col-xs-12">
          <%= f.file_field :adjunto %>
        </div>
      </div>

      <div class="form-group">
        <br/>
        <%= f.label :numero, 'Números de colada', class:'control-label col-xs-12' %><br />
        <div class="col-xs-12">
        <%= f.fields_for :coladas do |builder| %>
        <%= render 'colada_fields', f: builder %>
        <% end %>
        </div>
      </div>
  </div>

  </div>

  <div style="text-align: right">
    <div style="margin: 0 auto">
      <%= f.submit 'Registrar', class:'btn btn-primary'   %>
    </div>
  </div>


    <% if @certificado.errors.any? %>
        <div id="error_explanation">
          <% if @certificado.errors.count > 1 %>
            <h2>Ocurrieron <%= pluralize(@certificado.errors.count, "errores") %> mientras se guardaba el certificado: </h2>

            <ul>
              <% @certificado.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
           <% else %>
              <h2>Ocurrió <%= pluralize(@certificado.errors.count, "error") %> mientras se guardaba el certificado: </h2>

              <ul>
                <% @certificado.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
           <% end %>
        </div>
    <% end %>

<% end %>





