<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Certificados', certificados_path %></li>
  <li class="active">Editar Certificado</li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading" style="font-size: large;">Editar Certificado</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Volver', certificados_path %></li>
  <% if current_user.has_role?(:certificados, :show) %>
      <li><%= link_to 'Ver', @certificado %></li>
  <% end %>
</ol>