<h1>Certificados</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li class="active">Certificados</li>
</ol>

<% if current_user.has_role?(:certificados, :new) %>
    <%= link_to 'Nuevo Certificado', new_certificado_path %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">Filtros de Búsquedas</div>
  <div class="panel-body">

<%= form_tag certificados_path, :method => 'get', :class => 'form-horizontal' do %>
    <div class="col-xs-6 col-md-6">
      <div class="form-group">
        <%= label_tag :n_certificado, 'Nro de Certificado', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
        <%= text_field_tag :n_certificado, params[:n_certificado], style: 'width:90%' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :n_guia_proveedor, 'Guia de proveedor', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
        <%= text_field_tag :n_guia_proveedor, params[:n_guia_proveedor], style: 'width:90%' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :n_codigo_producto, 'Cod. de producto', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
        <%= text_field_tag :n_codigo_producto, params[:n_codigo_producto], style: 'width:90%' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :proveedor, 'Proveedor', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
          <%= select_tag 'proveedor_id',
                         options_for_select(Proveedor.all.collect{ |u| [u.name, u.id]}, @proveedor_id),
                         prompt: 'Seleccione' %>
        </div>
      </div>
    </p>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="form-group">
        <%= label_tag :n_colada, 'Colada', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
          <%= text_field_tag :n_colada, params[:n_colada], style: 'width:90%' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag :n_guia_proveedor, 'Orden de compra', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
        <%= text_field_tag :n_orden_compra, params[:n_orden_compra], style: 'width:90%' %>
        </div>
      </div>
      <div class="form-group">

        <script>
            $(function() {

                $( "#finiciopicker" ).datepicker({
                    format: "dd/mm/yyyy",
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá']
                });
                $( "#ffinpicker" ).datepicker({
                    format: "dd/mm/yyyy",
                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá']
                });
            });

            $('#sandbox-container .input-daterange').datepicker({
                format: "dd/mm/yyyy",
                startDate: "01/01/1970",
                endDate: "31/12/2040",
                todayBtn: "linked",
                language: "es",
                multidate: false,
                todayHighlight: true
            });
        </script>

        <%= label_tag :fecha, 'Fecha', class:'control-label col-xs-6'  %> ejemplo 12/10/2014
        <div class="col-xs-11">
          <div class="input-daterange input-group">
              <input type="text" id="finiciopicker" class="input-sm form-control" name="start_date" />
              <span class="input-group-addon">hasta</span>
              <input type="text" id="ffinpicker" class="input-sm form-control" name="end_date" />
          </div>
        </div>
      </div>

      <div class="form-group">
      <%= label_tag :sucursal, 'Sucursal', class:'control-label col-xs-7' %>
        <div class="col-xs-12">
        <%= select_tag 'sucursal_id',
                     options_for_select(Sucursal.all.collect{ |u| [u.nombre, u.id]}, @sucursal_id),
                     prompt: 'Todas', style: 'width:90%' %>
        </div>
      </div>

      <div style="margin: 0 auto; width: 80%; text-align:right;">
        <%= submit_tag 'Buscar', :name => nil, :class => 'btn btn-primary', :style => '' %>
      </div>

      </p>
    </div>
<% end %>
</div>
  </div>

<%= link_to '', '#search' %>

<div class="panel panel-default" style="">
  <div class="panel-heading">Resultados</div>
  <div class="panel-body" style="overflow: hidden">

<table class="table" >
  <thead>
    <tr>
      <th>Nro. de Certificado</th>
      <th>Orden de compra</th>
      <th>Fecha de recepción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificados.each_with_index do |certificado, i| %>
      <tr>
        <td><%= certificado.numero_certificado %></td>
        <td><%= certificado.numero_orden_compra %></td>
        <td><%= certificado.fecha_recepcion.strftime("%d/%m/%Y") %></td>
        <% if current_user.has_role?(:certificados, :show) %>
           <script>
             /*  */
             $(function() {
                $( "#dialog_show_<%= i %>" ).dialog({
                    autoOpen: false,
                    open: function ()
                        {
                        $(this).load('<%= certificado_path(certificado.id) %>');
                        },
                    buttons:{ "Close": function() { $(this).dialog("close"); } },
                    height: 450,
                    width: 600,
                    title: 'Certificado #<%= certificado.numero_certificado %>'
                });
             });

             function openDialog<%= i %>()
             {
                 $("#dialog_show_<%= i %>").dialog('open');
             }

          </script>

          <div id="dialog_show_<%= i %>"></div>

          <td><a   id="#button_show_'+<%= i.to_s %>"
                   class="btn btn-small"
                   onclick="openDialog<%= i %>()">
                <span class="glyphicon glyphicon-search"></span>
              </a>
          </td>
        <% end %>
        <% if current_user.has_role?(:certificados, :edit) %>
          <td><%= link_to( edit_certificado_path(certificado),
		    {:class => 'btn btn-small'}) do %>
		    <span class="glyphicon glyphicon-edit"></span>
	        <% end %>
	      </td>
        <% end %>
        <% if current_user.has_role?(:certificados, :delete) %>
          <td><%= link_to certificado, {method: :delete, data: { confirm: 'Esta seguro de que desea eliminar el certificado?'}, class: 'btn btn-small'} do %>
	        <span class="glyphicon glyphicon-remove"></span>
            <% end %>
	      </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @certificados %>
  </div>
  <%= will_paginate @certificados, :container => false, :params => {:anchor => 'search'} %>
</div>

      </div>
    </div>