<h1>Certificados</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li class="active">Certificados</li>
</ol>

<%= form_tag certificados_path, :method => 'get' do %>
    <div class="col-xs-6 col-md-6">
    <p>
      <%= label_tag :n_certificado, 'Nro de Certificado' %>
      <%= text_field_tag :n_certificado, params[:n_certificado] %><br/>

      <%= label_tag :n_guia_proveedor, 'Guia de proveedor' %>
      <%= text_field_tag :n_guia_proveedor, params[:n_guia_proveedor] %><br/>

      <%= label_tag :n_codigo_producto, 'Cod. de producto' %>
      <%= text_field_tag :n_codigo_producto, params[:n_codigo_producto] %><br/>
    </p>
    </div>
    <div class="col-xs-6 col-md-6">
      <p>
      <%= label_tag :n_colada, 'Colada' %>
      <%= text_field_tag :n_colada, params[:n_colada] %><br/>

      <%= label_tag :n_guia_proveedor, 'Orden de compra' %>
      <%= text_field_tag :n_orden_compra, params[:n_orden_compra] %><br/>
      <div class="input-daterange input-group" id="datepicker">
        <input type="text" class="input-sm form-control" name="start_date" />
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control" name="end_date" />
      </div>
      <%= submit_tag 'Buscar', :name => nil %>
      </p>
    </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Nro. de Certificado</th>
      <th>Guia de Proveedor</th>
      <th>Codigo de Producto</th>
      <th>Colada</th>
      <th>Orden de compra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @certificados.each do |certificado| %>
      <tr>
        <td><%= certificado.numero_certificado %></td>
        <td><%= certificado.numero_guia_proveedor %></td>
        <td><%= certificado.numero_codigo_producto %></td>
        <td><%= certificado.numero_colada %></td>
        <td><%= certificado.numero_orden_compra %></td>
        <% if current_user.has_role?(:certificados, :show) %>
          <td><%= link_to(certificado, {:class => 'btn btn-small'}) do %>
		        <span class="glyphicon glyphicon-search"></span>
	          <% end %>
	      </td>
        <% end %>
        <% if current_user.has_role?(:certificados, :edit) %>
          <td><%= link_to( edit_certificado_path(certificado),
		    {:class => 'btn btn-small'}) do %>
		    <span class="glyphicon glyphicon-edit"></span>
	        <% end %>
	      </td>
        <% end %>
        <% if current_user.has_role?(:certificados, :delete) %>
          <td><%= link_to certificado, {method: :delete, data: { confirm: 'Esta seguro de que desea eliminar el certificado?'}, class: 'btn btn-small'} do %>
	        <span class="glyphicon glyphicon-remove"></span>
            <% end %>
	      </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.has_role?(:certificados, :new) %>
   <%= link_to 'Nuevo Certificado', new_certificado_path %>
<% end %>

<script>
    $('#sandbox-container .input-daterange').datepicker({
        format: "dd/mm/yyyy",
        startDate: "01/01/1970",
        endDate: "31/12/2040",
        todayBtn: "linked",
        language: "es",
        multidate: false,
        todayHighlight: true
    });
</script>
