<% unless @xhr %>
<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Certificados', certificados_path %></li>
  <li class="active"><%= @certificado.numero_certificado %></li>
</ol>
<% end %>

<p>
  <strong>Numero certificado:</strong>
  <%= @certificado.numero_certificado %>
</p>

<p>
  <strong>Proveedor:</strong>
  <%= @certificado.proveedor.name %>
</p>

<p>
  <strong>Numero guia proveedor:</strong>
  <%= @certificado.numero_guia_proveedor %>
</p>

<p>
  <strong>Numero codigo producto:</strong>
  <%= @certificado.numero_codigo_producto %>
</p>

<p>
  <strong>Numero colada:</strong>
  <%= @certificado.numero_colada %>
</p>

<p>
  <strong>Numero orden compra:</strong>
  <%= @certificado.numero_orden_compra %>
</p>

<p>
  <strong>Fecha de recepción:</strong>
  <%= @certificado.fecha_recepcion %>
</p>

<a href="<%= @certificado.adjunto.url %>" download="<%= @certificado.numero_certificado %>.pdf">Download</a>

<% unless @xhr %>
  <% if current_user.has_role?(:certificados, :edit) %>
    <%= link_to 'Editar', edit_certificado_path(@certificado) %> |
  <% end %>

  <%= link_to 'Volver', certificados_path %>
<% end %>
