<% unless @xhr %>
<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Certificados', certificados_path %></li>
  <li class="active"><%= @certificado.numero_certificado %></li>
</ol>
<% end %>

<% unless @xhr %>
  <div class="panel panel-primary">
    <div class="panel-heading" style="font-size: large;">Certificado</div>
    <div class="panel-body">


    <p>Vista previa</p>
    <% if @certificado.es_pdf? %>
      <iframe src="/pdfjs/web/viewer.html?file=<%="#{@certificado.adjunto.url}" %>" style="border: 0" width="95%" height="600" frameborder="0" scrolling="no"></iframe>
    <% elsif @certificado.es_jpg? %>
      <img src="<%="#{@certificado.adjunto.url}" %>" width="20%" height="20%">
    <% end %>

<% end %>

  <p><strong>Identificador de sistema:</strong>
    <%= @certificado.system_id %>
  </p>

  <p><strong>Número certificado:</strong>
    <%= @certificado.numero_certificado %>
  </p>

  <p><strong>Proveedor:</strong>
    <%= @certificado.proveedor.name unless @certificado.proveedor.nil? %>
  </p>

  <p><strong>Número de guía de proveedor:</strong>
    <%= @certificado.numero_guia_proveedor %>
  </p>

  <p><strong>Número de código de producto:</strong>
    <%= @certificado.numero_codigo_producto %>
  </p>

  <p><strong>Número de orden de compra:</strong>
    <%= @certificado.numero_orden_compra %>
  </p>

  <p><strong>Fecha de recepción:</strong>
    <%= @certificado.fecha_recepcion %>
  </p>

  <p><strong>Sucursal:</strong>
    <%= @certificado.sucursal.nombre unless @certificado.sucursal.nil? %>
  </p>

  <p><strong>Números de coladas:</strong>
    <% @certificado.coladas.each do |c| %><br/>
      <%= c.numero %>
    <% end %>
  </p>

  <% unless @certificado.adjunto.nil? %>
    <a href="<%= @certificado.adjunto.url %>" download="<%="#{@certificado.adjunto_nombre}"%>" style="color:#428bca" >Descargar certificado</a>
  <% end %>



<% unless @xhr %>
    </div>
    </div>
    <ol class="breadcrumb">
      <li><%= link_to 'Inicio', home_index_path %></li>
      <li><%= link_to 'Volver', certificados_path %></li>
      <li><% if current_user.has_role?(:certificados, :edit) %>
            <%= link_to 'Editar', edit_certificado_path(@certificado) %>
        <% end %></li>
    </ol>
<% end %>