<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Productos', productos_path %></li>
  <li class="active">Nuevo Producto</li>
</ol>

<div class="panel panel-primary">
  <div class="panel-heading" style="font-size: large;">Nuevo Producto</div>
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Volver', productos_path %></li>
</ol>
