
<%= form_for @sucursal, html: {class: 'form-horizontal'} do |f| %>

  <div class="col-xs-6">

    <div class="form-group">
      <%= f.label :nombre, class:'control-label col-xs-7' %><br>
      <div class="col-xs-12">
        <%= f.text_field :nombre, class:'input-sm form-control' %>
      </div>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="form-group">
      <%= f.label :organizacion_id, class:'control-label col-xs-7' %><br>
      <div class="col-xs-12">
        <%= f.collection_select(
               :organizacion_id,
               Organizacion.all,       :id,            :nombre,
               {prompt: true, selected: Organizacion.first.id},
               {class:'input-sm form-control'} )
        %>
      </div>
    </div>

  </div>

  <div class="col-xs-12">

    <div class="form-group">
      <%= f.label :direccion, class:'control-label col-xs-7' %><br>
      <div class="col-xs-12">
        <%= f.text_area :direccion, class:'input-sm form-control' %>
      </div>
    </div>

    <div style="text-align: right">
      <div style="margin: 0 auto">
        <%= f.submit 'Registrar', class:'btn btn-primary'   %>
      </div>
    </div>

  </div>

  <div style="clear: both;">
    <% if @sucursal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@sucursal.errors.count, "error") %> prohibited this sucursal from being saved:</h2>

        <ul>
          <% @sucursal.errors.full_messages.each do |message| %>
                <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

<% end %>
