<h1>Editar sucursal</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Sucursales', sucursals_path %></li>
  <li class="active">Editar Sucursal</li>
</ol>

<%= render 'form' %>

<%= link_to 'Ver', @sucursal %> |
<%= link_to 'Volver', sucursals_path %>
