<h1>Listing sucursals</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Organizacion</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sucursals.each do |sucursal| %>
      <tr>
        <td><%= sucursal.nombre %></td>
        <td><%= sucursal.organizacion.nombre %></td>
        <td><%= sucursal.direccion %></td>
        <td><%= link_to 'Show', sucursal %></td>
        <td><%= link_to 'Edit', edit_sucursal_path(sucursal) %></td>
        <td><%= link_to 'Destroy', sucursal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sucursal', new_sucursal_path %>
