<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li class="active">Sucursales</li>
</ol>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Organizacion</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sucursals.each do |sucursal| %>
      <tr>
        <td><%= sucursal.nombre %></td>
        <td><%= sucursal.organizacion.nombre %></td>
        <td><%= sucursal.direccion %></td>
        <% if current_user.has_role?(:sucursals, :show) %>
        <td>
          <%= link_to( sucursal_path(sucursal),
                       {:class => 'btn btn-small'}) do %>
              <span class="glyphicon glyphicon-search"></span>
          <% end %>
        </td>
        <% end %>
        <% if current_user.has_role?(:sucursals, :edit) %>
          <td><%= link_to( edit_sucursal_path(sucursal),
                             {:class => 'btn btn-small'}) do %>
                  <span class="glyphicon glyphicon-edit"></span>
              <% end %>
          </td>
        <% end %>
        <% if current_user.has_role?(:sucursals, :delete) %>
            <td><%= link_to sucursal, {method: :delete, data: { confirm: 'Esta seguro de que desea eliminar el sucursal?'}, class: 'btn btn-small'} do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Sucursal', new_sucursal_path %>
