<ol class="breadcrumb">
  <li><%= link_to 'Inicio', home_index_path %></li>
  <li><%= link_to 'Sucursales', sucursals_path %></li>
  <li class="active"><%= @sucursal.nombre %></li>
</ol>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @sucursal.nombre %>
</p>

<p>
  <strong>Organizacion:</strong>
  <%= @sucursal.organizacion.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @sucursal.direccion %>
</p>

<%= link_to 'Editar', edit_sucursal_path(@sucursal) %> |
<%= link_to 'Volver', sucursals_path %>
