<!DOCTYPE html>
<html>
<head>
  <title>Gestcert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand" style=""><img src="/images/logo.png" /></div>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <div class="" style=""><img src="/images/banner.gif" /></div>
        <li class="active"><%= render 'devise/menu/login_items' %></li>
      </ul>
    </div>
  </div>
</nav>

<% unless current_user.nil? %>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Menú</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Certificados', certificados_path %></li>
        <li><%= link_to 'Proveedores',  proveedors_path %></li>
        <li><%= link_to 'Productos',  productos_path %></li>
        <li><%= link_to 'Sucursales',  sucursals_path %></li>
        <li><%= link_to 'Usuarios',  users_path %></li>
        <!-- <li><%= link_to 'Roles',  admin_roles_path if current_user.admin? %></li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>

<article class="contenido" style="min-height: 380px">


  <%= yield :role_sidebar %>
  <%= yield :role_main %>
  <%= yield %>
  <% unless alert.nil? %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>
  <% unless notice.nil? %>
    <div class="alert-success alert"><p style="color:darkgreen"><%= notice %></p></div>
  <% end %>
</article>

<!-- <nav class="hierrobeco">
  <ul class="">
    <li><%= link_to 'Certificados', certificados_path, :class => '' %></li>
    <li><%= link_to 'Proveedores',  proveedors_path,   :class => '' %></li>
    <li><%= link_to 'Productos',  productos_path,   :class => '' %></li>
    <li><%= link_to 'Usuarios',  users_path,   :class => '' %></li>
  </ul>
</nav> -->

<p>Para reportar problemas en el sistema contactar al departamento de computación. Extensión: 228-229.
</p>
<footer class="navbar navbar-default" style="padding: 4px">
  <% if user_signed_in? %>
      <p>Sucursal: <%= current_user.sucursal.nombre %></p>

      <div style="text-align: center">
          <div style="font-size:small; margin: 0 auto; -webkit-user-select: none; -moz-user-select: none;">
            © 2014 HIERROBECO C.A. R.I.F No. J-00746885-6 - Todos los derechos reservados
          </div>
      </div>
  <% end %>
</footer>

</body>
</html>
