<!DOCTYPE html>
<html>
<head>
  <title>Gestcert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand" style=""><img src="/images/logo.png" /></div>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <div class="" style=""><img src="/images/banner.gif" /></div>
        <li class="active"><%= render 'devise/menu/login_items' %></li>
      </ul>
    </ul>
  </div>

</nav>

<article class="contenido" style="min-height: 380px">
 <p class="notice"><%= notice %></p>
  <%= yield :role_sidebar %>
  <%= yield :role_main %>
  <%= yield %>
 <% unless alert.nil? %>
   <div class="alert alert-danger"><%= alert %></div>
 <% end %>
</article>
<p>Para reportar problemas en el sistema contactar al departamento de computación. Extensión: 228-229.
</p>
<footer class="navbar navbar-default" style="padding: 4px">
  <% if user_signed_in? %>
      <p>Sucursal: <%= current_user.sucursal.nombre %></p>

      <div style="text-align: center">
          <div style="margin: 0 auto; -webkit-user-select: none; -moz-user-select: none;">
            © 2014 HIERROBECO C.A. R.I.F No. J-00746885-6 - Todos los derechos reservados
          </div>
      </div>
  <% end %>
</footer>

</body>
</html>
